# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/

# Virtual environments
venv/
env/
ENV/
.venv

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# Database
*.db
*.sqlite3

# Logs
*.log
logs/

# notes
fastapi.commands.md

cli.python.py
init_db.py
cli.py

app/media/datasets/*
!app/media/datasets/.gitkeep